.DS_Store
homework/.DS_Store
BCCD_SSD/.DS_Store
BCCD_SSD/BCCD_Dataset/.DS_Store
BCCD_SSD/BCCD_Dataset/scripts/.DS_Store
BCCD_SSD/BCCD_Dataset/dataset/.DS_Store
BCCD_SSD/BCCD_Dataset/dataset/mxnet/.DS_Store
BCCD_SSD/BCCD_Dataset/BCCD/.DS_Store
BCCD_SSD/BCCD_Dataset/BCCD/Annotations/.DS_Store
BCCD_SSD/BCCD_Dataset/BCCD/ImageSets/.DS_Store
BCCD_SSD/BCCD_Dataset/BCCD/ImageSets/Main/.DS_Store
BCCD_SSD/BCCD_Dataset/BCCD/JPEGImages/.DS_Store